@import url(/css/reset.css);

.btn {
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 10px;
	border: 2px solid grey;
	border-radius: 16px;
	padding: 3px;
}

.btn:hover {
	color: gold;
}

.card {
	margin-left: 100px;
}

.content-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}